<!DOCTYPE html>
<html lang="en">
<%- include("partials/_head") %>

  <body>
    <%- include("partials/_header", { user }) %>
      <div class="d-flex justify-content-center py-2">
        <div class="alert alert-danger" role="alert">
          <%= message %>
        </div>
      </div>

  </body>

</html>