<!DOCTYPE html>
<html lang="en">
<%- include("partials/_head") %>

  <body>
    <%- include("partials/_header", { user }) %>

      <div class="container py-2">
        <form method="POST" action="/login">
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Provide the email which you registered with</div>
          </div>
          <div class="mb-3">
            <label for="registerPassword" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
            <div id="passwordlHelp" class="form-text">Type your password</div>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>

  </body>

</html>